---
# tasks file for roles/create-automation-user--- 
- name: Ensure ansible user exists 
  user: 
    name: ansible 
    state: present 
    comment: Ansible automation user 
- name: Ensure ansible user accepts the SSH key 
  authorized_key: 
    user: ansible 
    state: present       
    key: https://raw.githubusercontent.com/jptraining/ansible/master/keys/id_rsa.pub
- name: Ensure the line /etc/sudoers.d is present in sudoers file 
  lineinfile: 
    dest: /etc/sudoers
    state: present
    create: yes
    regexp: '^#includedir /etc/sudoers.d' 
    line: '#includedir /etc/sudoers.d' 
    validate: 'visudo -cf %s'      
- name: Ensure the ansible user is sudoer with no password required 
  lineinfile: 
    dest: /etc/sudoers.d/ansible 
    state: present
    create: yes
    regexp: '^ansible ALL\=' 
    line: 'ansible ALL=(ALL) NOPASSWD:ALL' 
    validate: 'visudo -cf %s'