[defaults]
become_ask_pass = False

# uncomment this to disable SSH key host checking
host_key_checking = False

private_key_file = /home/vagrant/.ssh/id_rsa

remote_user = ansible

inventory = hosts.yaml

# if set, always use this private key file for authentication, same as
# if passing --private-key to ansible or ansible-playbook

# default user to use for playbooks if user is not specified
# (/usr/bin/ansible will use current user as default)

# additional paths to search for roles in, colon separated
roles_path = roles
