-- 
- hosts: webservers
  remote_user: ansible 
  tasks:
  - name: Vérifier que le site web est présent et à jour 
    template: 
      src: index.html.j2 
      dest: /var/www/html/index.html 
      mode: 0644 
